.app {
 
    
    text-align:center;
    line-height:2.5;
    display: flex;
    align-items: center;

    .icon{
        width: 28px;
        height: 28px;
    }

    .flag{
        width: 25px;
        height: 25px;
    }
}